
summary{
       list-style:none;
}

h1 {
			margin: 0;
		}
#higher image{
	height: 500px;
    width: 20%;
}

section {
			padding: 20px;
            width: 100%;
            background-color: #95de3e;
		}


article h2 {
			margin-top: 0;
			text-align: left;
		}


.allArtic{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}



table, td, th{
         border: solid black;
		 border-collapse:collapse;
}

.tablecolor{
	background-color:lightseagreen ;
}


ul{
	list-style:disc;
	width: 100%;
}
#statisticsParte{
	display: flex;
}